<div style="padding: 20px">
    <h1>Log Dashboard</h1>

    <!-- Filters -->
    <div style="margin-bottom: 20px;">
        <input type="text" [(ngModel)]="searchService" placeholder="Filter by service" />
        <select [(ngModel)]="searchLevel">
      <option value="">All Levels</option>
      <option value="INFO">INFO</option>
      <option value="WARN">WARN</option>
      <option value="ERROR">ERROR</option>
    </select>
        <input type="text" [(ngModel)]="searchMessage" placeholder="Search message" />
    </div>

    <!-- Logs Table -->
    <table border="1" cellspacing="0" cellpadding="5" style="width: 100%">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Service</th>
                <th>Level</th>
                <th>Message</th>
                <th>Actions</th>

            </tr>


        </thead>
        <tbody>
            <tr *ngFor="let log of filteredLogs()">
                <td>{{ log.timestamp }}</td>
                <td>{{ log.service }}</td>
                <td>{{ log.level }}</td>
                <td>{{ log.message }}</td>
                <td>
                    <button class="delete-button" (click)="deleteLog(log.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>